#wrapper {
    min-height: 100%;
    height: auto;
}

header#strimheader {
    height: 75px;
    background: rgba(0,0,0,0.7);
    font-family: 'Rokkitt', serif;
    color: #FFF;
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
}
header h1 {
    margin: 0;
    padding: 0;
    display: block;
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
    0 8px 13px rgba(0,0,0,0.1),
    0 18px 23px rgba(0,0,0,0.1);
}
.video-holder {
    background: #1b1b1b;
}
.centered {
    width: 1024px;
    margin: 30px auto 0;
}

.playlist-components {
    height: 264px;
}
.video-js, .playlist-components {
    display: inline-block;
    vertical-align: top;
}
.button-holder {
    padding: 10px;
    height: 36px;
}

.playlist {
    height: 220px;
    overflow-y: auto;
    color: #c0c0c0;
    border-radius: 8px;
    display: block;
    margin: 5px 0;
    padding: 1px 0 0 0;
    position: relative;
    background: -moz-linear-gradient(top,#000 0,#212121 19%,#212121 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#000),color-stop(19%,#212121),color-stop(100%,#212121));
    background: -o-linear-gradient(top,#000 0,#212121 19%,#212121 100%);
    background: -ms-linear-gradient(top,#000 0,#212121 19%,#212121 100%);
    background: linear-gradient(to bottom,#000 0,#212121 19%,#212121 100%);
    box-shadow: 0 1px 1px #1a1a1a inset,0px 1px 1px #454545;
    border: 1px solid #1a1a18;
}
#next {
    float: right;
}
#prev {
    float: left;
}

#prev, #next {
    cursor: pointer;
}

.playlist ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.playlist ul li {
    padding: 10px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.playlist ul li.active {
    background-color: #4f4f4f;
    border-color: #4f4f4f;
    color: #FFF;
}
.playlist ul li:hover {
    border-color: #353535;
    background: #353535;
}


.playlist .poster, .playlist .title  {
    display: inline-block;
    vertical-align: middle;
}
 .playlist .number{
    padding-right: 10px;
}
.playlist .poster img {
    width: 64px;
}
.playlist .title {
    padding-left: 10px;
}

div.songinfo {
    color: #E9E9E9;
}
h2.songtitle
{
margin-left: 2px;
margin-top: 0px;
clear: both;
}
div.content_voting
{
float: left;
margin-right: 8px;
margin-top: 5px;
}
div.content_inner
{
float: left;
margin-top: 10px;
}
span.strimslink
{
float: right;
}
div.content_vote_wrapper
{
display: block;
text-align: center;
line-height: 23px;
height: 22px;
font-size: 16px;
font-weight: bold;
overflow: hidden;
word-wrap: normal;
color: rgb(170, 170, 170);
}
.footer {
border-top: 1px solid #e5e5e5;
background-color: #f5f5f5;
}




/*****/






/*****/
.sp-nav {
margin-bottom: 0;
background-color: #fff;
border-bottom: 0;
z-index: 1000000000;

}

